
<h1 class="m-2 text-center">List of all events available</h1>

<div class="container ">
  <div class="row m-2 border-bottom font-weight-bold">
    <div class="col-sm ">
      Subject
    </div>
    <div class="col-sm ">
      Location
    </div>
    <div class="col-sm ">
      Date
    </div>

  </div>


<% @events.each do |event| %>
  <%= link_to event_path(event), class:"text-dark" do %>
    <div class="row m-2 border">
      <div class="col-sm r">
        <%= event.subject %>
      </div>
      <div class="col-sm ">
        <%= event.location %>
      </div>
      <div class="col-sm ">
        <%= event.start_date %>  <%= event.start_time %> - <%= event.end_date %>  <%= event.end_time %>
      </div>

    </div>
    <% end %>
<% end %>
</div>